<suite name="ParallelTests" parallel="tests" thread-count="2">
    <listeners>
     <listener class-name="listener.ListenerClass"/>
    </listeners>>
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>

    <test name="Edge Test">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>
</suite>
